<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<h1>Votre question :</h1>
<p class="question"><%= @question %></p>

<h1>Réponse du coach :</h1>
<p class="answer"><%= @answer %></p>

<%= link_to "ask new question", ask_path %>
