// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

.question {

  font-family: 'Do Hyeon', sans-serif;
}


.answer {

}

.blue-btn {

  font-family: 'Do Hyeon', sans-serif;
  font-size: 18px;
  color: white;
  padding: 10px;
  background-color: #598394;
  border-radius: 3px;
}

